body {
    font-family: 'Manjari', sans-serif;
    background-image: url('assets/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
}

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.name-tag-what {
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

input::placeholder{
    color:black;
    font-weight: 100;
}

input[type=submit]{
    background: #ffffff00;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    padding: 6px;
    font-weight: 100;
    
}

input[type=text]{
  background: #ffffff99;
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px 8px;
  color: white;
}

.main-content-section {
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff20;
    border-radius: 20px;
}


/* page 2*/
h1 {
    color: white;
    font-size: 28px;
}

h2 {
    font-size: 24px;
    color: white;
}

h3 {
    font-size: 18px;
    color: darkgray;
}

.header-section {
    border-bottom: 1px solid darkgray;
    text-align: center;
}


.logout {
    background: #ffffff00;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    padding: 6px;
    font-weight: 100;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
  }

  .notification {
      background-color: red;
      width: 16px;
      height: 16px;
      line-height: 20px;
      border-radius: 50%;
      top: -13px;
      font-style: normal;
      right: -13px;
      text-align: center;
      font-size: 12px;
      display: inline-block;
      align-items: center;
      font-weight: 800;
      color: white;
      position: relative;
      top: -8px;
      left: -2px;;
  }

  .news-category {
      color: white;
      position: relative;
      top: 10px;
      margin-bottom: 20px;
      display: inline-block;
  }
  .news-item__image {
      width: 150px;
  }

  .section--news {
      border: 1px solid yellow;
      background: #ffffff30;
      margin-top: 20px;
      overflow: scroll;
    text-align: left;
    max-height: 400px;
  }

  .news-item__details {
    display: flex;
    
  }

  .news-item-desc {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
  }

  .news-item__date {
      color: darkgray;
  }

  .news-item-desc, p {
      color: white;
  }

  .news-item__network {
      background-color: f47203;
      color: white;
      padding-top:5px;
      padding-left:5px;
  }

  .news-item {
      margin-bottom: 20px;
  }